PROJECT_ROOT=.

AUDIO_RAW_DIR=audio_raw
AUDIO_PROCESSED_DIR=audio_processed

TRANSCRIPTS_DIR=transcripts
SEGMENTS_DIR=segments_keywordExtract_summary

WHISPER_MODEL=medium
DEVICE=cpu
FP16=false

SENTENCES_PER_SEGMENT=5
TOP_KEYWORDS=5
SUMMARY_SENTENCES=2
MIN_MEDICAL_TERMS=5

